page-login {

	.fondo{

		background-image: url('assets/img/inicio.png');
		background-repeat: no-repeat;
		background-size: cover; 
		background-position: center;

	}

	.item-login{

		background-color: transparent;

	}


	ion-label {

		color: white; 
		font-family: monospace; 
		font-size: larger;

	}

}
