page-ubicacion {
  sebm-google-map{
    height: 350px;
  }

  h1 {
    text-align: center;
    color:red;
  }

  .autor {
    text-align: center;
  }


  .toolbar-md {
      min-height: 36px;
  }

  #map_canvas{
    display: block;
    height: 100%;
    width: 100%;
  }
    
}
