page-producto {

	.toolbar-title-md{
		text-align: -webkit-center;
    	color: unset;
	}

	.item-start{
		width: 70%;
    	height: 70%;

	}

	.precio{
		text-align: -webkit-center;
    	color: red;
	}

}
