page-menu {
  .menu {
    position: fixed;
  }

  .color-menu{
     background-color: #0B4C5F;
  }

  .toolbar-background{
    background-color: #0C0B0B  ;
  }

  .toolbar-title {
  	  color: aliceblue;
  }

  .toolbar-md {
    min-height: 36px;
  }


}
