page-listap {
  h1 {
    text-align: center;
  }

  /*h3 {
    text-align: center;
  }*/
  .pagarB{
    font-family: monospace;
    color: tomato;
  }

  .titulo{
    text-align: center;
    font-family: cursive;
  }

}
